/* ==== styles for 600px - 1023px width ==== */
/* ====================== Footer =================== */
#footer {
  font-size: 12pt;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  height: 110px;
}
