/* ==== styles for over 1023px width ==== */
/* ====================== Footer =================== */
#footer {
  font-size: 12pt;
}

/* ====================== Map ====================== */
#map {
  height: 600px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  height: 85px;
}
